<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create schedule</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {%include '_head.html'%}
</head>
<body>
    <form method="post" id="send_schedule">
        {% csrf_token %}

    <div class="form-group" id="groups">
        <h2>Виберіть потрібну вам групу</h2>
        <label for="group_name">Назва групи:</label>
        <select name="group_name" id="group_name" class="group_name" required>
        {%for t in teacher_info%}
        <option value={{t.name}}>{{t.name}}</option>
        {%endfor%}
        </select> 
    </div>
    <div id="select_day" class="select_day">
        <label for="day_name">Назва групи:</label>
        <select name="day_name" id="day_name" class="day_name" required>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wendesday">Wendesday</option>
        <option value="Thaturday">Thaturday</option>
        <option value="Friday">Friday</option>
        <option value="Sathurday">Sathurday</option>
        <option value="Sunday">Sunday</option>
        </select>
    </div>
    <input type="number" id="lesson_number" name="lesson_number" placeholder="впишіть номер уроку необовязково">
    <button id="add_lesson" name="add_lesson" onclick="event.preventDefault();">add lesson</button>
    <div id="lessons">

    </div>

    <div class="button">
        <button name="button">
            send info
        </button>
    </div>
    </form>
    <script src="/static/js/schedule.js" defer></script>
</body>
</html>
