<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create schedule</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/sch.css">
    <!-- {%include '_head.html'%} -->
</head>
<body>
          {% include "_navteacher.html" %}

    <form method="post" id="send_schedule" style="margin-top: 100px;">
        {% csrf_token %}
        
        <div class="form-group" id="groups">
            <h2>Виберіть групу</h2>
            <label for="group_name">Назва групи:</label>
            <select name="group_name" id="group_name"  required>
                {% for t in teacher_info %}
                    {%if t.name == group%}
                        <option value="{{ t.name }}" selected>{{ t.name }}</option>
                    {%else%}
                        <option value="{{ t.name }}">{{ t.name }}</option>
                    {%endif%}
                {% endfor %}
            </select> 
        </div>
        
        <div class="schedule-container">
            {% for day in days%}
            <div class="day-schedule">
                <h3>{{ day }}</h3>
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Назва уроку</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in "123456789" %}
                        <tr>
                            <td>{{ i }}</td>
                            <td><input type="text" name="schedule[{{ day }}][{{ i }}]" placeholder="Введіть урок"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>

        <div class="button">
            <button type="submit">Зберегти розклад</button>
        </div>
    </form>
</body>
</html>
