<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/group_pop_up.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <title>Document</title>
    <link rel="stylesheet" href="/static/css/group_generic.css">

    <script src="/static/js/group_homework.js" defer></script>
</head>
<body>
    <h1>Group: "{{ group.name }}"</h1>
    <p>{{res}}</p>
    <div>
        <div class="add_homework">
            <h2>add Homework</h2>
            <button for="lesson1" name="homework" type="submit" onclick="event.preventDefault(); homework_pop_up()"
        ><i class="fa-regular fa-square-plus add-icon">homework</i></button>
        </div>
        <div class="dropdown">
            <h2>Homework:</h2>
            <button type="button" onclick="document.querySelector('.dropdown-content').style.display = 'block'">↓</button>
            <div class="dropdown-content">
                <button class="popup-close-btn" type="button" onclick="document.querySelector('.dropdown-content').style.display = 'none'" style="cursor: pointer;">&times;</button>
                {%if homework%}
                    {%for dz in homework%}
                    <div id="homework_infos">
                            <form method="post">
                                {% csrf_token %}
                                <p class="red">double click to edit</p>
                                <div class="homework_info">
                                    <div id="lesson_data" class="lesson_data">
                                        <p>Lesson:</p>
                                        <p id="subject" onlclick="makeEditable(this, 'text')" style="cursor: pointer;">{{dz.subject}}</p>
                                    </div>
                                    
                                    <div id="homework_data" class="homework_data">
                                        <p>homework:</p>
                                        <p class="homework_text" ondblclick="makeEditable(this, 'text')" style="cursor: pointer;">{{dz.text}}</p>
                                    </div>

                                    <div id="deadline_data" class="deadline_data">
                                        <p style="color: red;">deadline:</p>
                                        <p ondblclick="makeEditable(this, 'datetime-local')" id="deadline_display" style="cursor: pointer;">{{dz.deadline}}</p>
                                    </div>
                                    <script>
                                        function makeEditable(element, inputType) {
                                            const currentValue = element.textContent.trim();
                                            const input = document.createElement('input');
                                            input.type = inputType;
                                            input.value = currentValue;

                                            input.addEventListener('blur', () => {
                                                if (input.value) {
                                                    element.textContent = input.value;
                                                } else {
                                                    element.textContent = currentValue; // Revert to original value if empty
                                                }
                                                element.style.display = 'block';
                                                input.remove();
                                            });

                                            element.style.display = 'none';
                                            element.parentNode.insertBefore(input, element);
                                            input.focus();
                                        }
                                    </script>
                                    <button type="submit">change homework<i class="fa-solid fa-pen"></i></button>
                                    <button type="button" onclick="homework_pop_up2('{{dz.id}}')">details</button>
                                </div>
                                <input type="hidden" name="form" value="edit_homework">
                                <input type="hidden" id="subject_hidden_{{dz.id}}" name="subject_hidden" value="{{dz.subject}}">
                                <input type="hidden" id="homework_hidden_{{dz.id}}" name="homework_hidden" value="{{dz.text}}">
                                <input type="hidden" id="deadline_hidden_{{dz.id}}" name="deadline_hidden" value="{{dz.deadline}}">
                                <input type="hidden" id="group_hidden_{{dz.id}}" name="group_hidden" value="{{group.name}}">
                                <input type="hidden" id="homework_id_{{dz.id}}" name="id_hidden" value="{{dz.id}}">
                            </form>


                        </div>
                    {%endfor%}
                {%endif%}
            
            </div>
        </div>

    <!-- <p id="lesson1">lesson 1</p>
        <button for="lesson1" id="homework_add" name="homework" onclick="event.preventDefault(); homework_pop_up()" class="add-homework-btn"> add homework</button> -->
        <input type="hidden" lessons_i="lessons_home" id="lessons_home" value="lesson.homework">


        <div id="students"> 
            <div id="new-student">
        <form method="post">{%csrf_token%}
            <input type="email" name="email" id="email" placeholder="Enter new student's email">
            <input type="hidden" name="group" value="{{group.name}}">
            <input type="submit" value="+" class="add-student-btn">
        </form>
        </div>
        {% if students %}
            <p>Students in this group:</p>
        {% else %}
            <p>No students in this group yet.</p>
        {% endif %}
        {% for student in students %}
            <div id="student">
                <h6>{{ student.user.username }}</h6>
            </div>
        {% endfor %}
    </div></form>


    

    {%if schedule%}
    <table id="schedule">
        <caption>Schedule</caption>
        <thead>
            <tr>
                <th>#</th>
                {% for day in days %}
                    <th>{{ day }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for lesson_number in "123456789" %} <tr>
                <th>{{ lesson_number }}</th>
                {% for day in days %}
                    <td>
                        {% for day_, lessons in schedule %}
                            {% if day_ == day %}
                                {% for lesson in lessons %}
                                    {% if lesson.lesson_number == lesson_number %}
                                        <form method="post" id="send_schedule"> {% csrf_token %}
                                            <input type="text"  value="{{ lesson.subject }}" name="subject" placeholder="subject" class="like-p-input">
                                            <input type="hidden" name="form" value="edit_schedule">
                                            <input type="hidden" name="lesson_number" value="{{ lesson.lesson_number }}">
                                            <input type="hidden" name="day" value="{{ day_ }}">
                                            <button type="submit" class="edit-schedule-btn"><img src="/static/images/edit.png" alt="edit" class="img-edit-btn"></button>
                                            
                                        </form>
                                        
                                        
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {%else%}
    <a href="/teacher/schedule/?group={{group.name}}">add schedule</a>
    {%endif%}
    <!-- POP UP ADD HOMEWORK -->
    <div class="popup-container">
        <form method="post" id="pop_up_homework_f" name="pop_up_homework_f">
            <button class="popup-close-btn" onclick="event.preventDefault(); closePopup()" style="cursor: pointer;">&times;</button>
            {%csrf_token%}
            <h2>add homework</h2>
            <p>homework for: {{ group.name }}</p>
            <input type="hidden" name="group" value="{{ group.name }}">
            <input type="hidden" name="form" value="add_homework">
            <input type="text" id="homework_inp" name="homework" placeholder="homework:" required>
            <input type="text" id="subject_inp" name="subject" placeholder="subject_name:" maxlength="30" required>
            <input type="datetime-local" id="deadline_homework" name="deadline" placeholder="deadline of homework" required>
            <button type="submit" name="send_homework" id="send_homework" onclick="">add homework</button>
            <i class="fa-regular fa-square-plus" style="align-content: end;"></i>
        </form>
    </div>
    <!-- POP UP HOMEWORK INFO -->
    <div class="popup-container2">
            <button class="popup-close-btn" onclick="closePopup2()" style="cursor: pointer;">&times;</button>
            <div class="homework_popup_inf">      
                <h2>homework details</h2>
                <p id="group_homework_popup">group:</p>
                <p id="subject_homework_popup">subject:</p>
                <p id="deadline_homework_popup">deadline to:</p>
                <p id="dz_homework_popup">homework:</p>
            </div>  
    </div>

</body>
</html>