<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/group_pop_up.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <title>Document</title>
    <link rel="stylesheet" href="/static/css/group_generic.css">

    <script src="/static/js/group_homework.js" defer></script>
              {% include "_navteacher.html" %}

</head>
<body>

    <h1 style="margin-top: 100px;">Group: "{{ group.name }}"</h1>
    <p>{{res}}</p>
        <div class="add_homework">
            <h2>add Homework</h2>
            <button for="lesson1" name="homework" type="submit" onclick="event.preventDefault(); homework_pop_up()"
        ><i class="fa-regular fa-square-plus add-icon">homework</i></button>
        </div>
        <div class="dropdown">
            <h2>Homework:</h2>
            <button type="button" onclick="document.querySelector('.dropdown-content').style.display = 'block'">↓</button>
            <div class="dropdown-content">
                <button class="popup-close-btn" type="button" onclick="document.querySelector('.dropdown-content').style.display = 'none'" style="cursor: pointer;">&times;</button>
                
                {%if homework%}

                    {%for dz in homework%}
                    <div id="homework_infos">
                            <form method="post">
                                {% csrf_token %}
                                <p class="red">double click to edit</p>
                                <div class="homework_info">
                                    <div id="lesson_data" class="lesson_data">
                                        <p>Lesson:</p>
                                        <p class="subject {{dz.id}}" id="subject" ondblclick="makeEditable(this, 'text')" style="cursor: pointer;">{{dz.subject}}</p>
                                    </div>
                                    
                                    <div id="homework_data" class="homework_data">
                                        <p>homework:</p>
                                        <p class="homework {{dz.id}}" ondblclick="makeEditable(this, 'text', 'textarea')" style="cursor: pointer;">{{dz.text}}</p>
                                    </div>

                                    <div id="deadline_data" class="deadline_data">
                                        <p style="color: red;">deadline:</p>
                                        <p class="deadline {{dz.id}}" ondblclick="makeEditable(this, 'datetime-local')" id="deadline_display" style="cursor: pointer;">{{dz.deadline}}</p>
                                    </div>
                                    <script>
                                        function makeEditable(element, inputType, elementType='input') {
                                            const currentValue = element.textContent.trim();
                                            const input = document.createElement(elementType);
                                            input.type = inputType;
                                            input.value = currentValue; // Initial value set here

                                            input.addEventListener('blur', () => {
                                                if (input.value) {
                                                    element.textContent = input.value;
                                                    console.log(`${element.classList[0]}_hidden_${element.classList[1]}`);
                                                    document.getElementById(`${element.classList[0]}_hidden_${element.classList[1]}`).value = input.value; // Update the hidden input value
                                                } else {
                                                    element.textContent = currentValue; // Revert to original value if empty
                                                }
                                                element.style.display = 'block';
                                                input.remove();
                                            });

                                            element.style.display = 'none';
                                            element.parentNode.insertBefore(input, element);
                                            input.focus();
                                        }

                                        function getMonthNumber(monthStr) {
                                            const months = ["january", "february", "march", "april", "may", "june", "july", "august", "september", "october", "november", "december"];
                                            const shortMonths = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"];
                                            const lowerMonthStr = monthStr.toLowerCase();
                                            const index = months.indexOf(lowerMonthStr);
                                            if (index > -1) {
                                                return (index + 1).toString().padStart(2, '0');
                                            }
                                            const shortIndex = shortMonths.indexOf(lowerMonthStr);
                                            if (shortIndex > -1) {
                                                return (shortIndex + 1).toString().padStart(2, '0');
                                            }
                                            return '';
                                        }

                                        function formatDateForDisplay(isoDate) {
                                            const date = new Date(isoDate);
                                            const options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: '2-digit' };
                                            return date.toLocaleDateString(undefined, options);
    }
                                    </script>
                                    <button type="submit">change homework<i class="fa-solid fa-pen"></i></button>
                                    <button type="button" onclick="homework_pop_up2('{{dz.id}}')">details</button>
                                </div>
                                <input type="hidden" name="form" value="edit_homework">
                                <input type="hidden" id="subject_hidden_{{dz.id}}" name="subject_hidden" value="{{dz.subject}}">
                                <input type="hidden" id="homework_hidden_{{dz.id}}" name="homework_hidden" value="{{dz.text}}">
                                <input type="hidden" id="deadline_hidden_{{dz.id}}" name="deadline_hidden" value="{{dz.deadline}}">
                                <input type="hidden" id="group_hidden_{{dz.id}}" name="group_hidden" value="{{group.name}}">
                                <input type="hidden" id="homework_id_{{dz.id}}" name="id_hidden" value="{{dz.id}}">
                            </form>
                        </div>
                    {%endfor%}
                {%endif%}
            
            </div>
        </div>




        <div class="homework_grade">
            <h2>homework_grade</h2>
            <button type="button" onclick="document.getElementById('dropdown-content-gr').style.display = 'block'">↓</button>
            <div style="display: none;" class="dropdown-content-gr" id="dropdown-content-gr" >
            <button class="popup-close-btn-gr" type="button" onclick="document.getElementById('dropdown-content-gr').style.display = 'none'" style="cursor: pointer;">&times;</button>
            <div class="dropdown-content-grade" id="dropdown-content-grade">
                <p>dddddddddddddssssssssssssssssssaaaaaaaaaaaaaaaa</p>
                <p>dddddddddddddssssssssssssssssssaaaaaaaaaaaaaaaa</p>
                <p>dddddddddddddssssssssssssssssssaaaaaaaaaaaaaaaa</p>
                <p>dddddddddddddssssssssssssssssssaaaaaaaaaaaaaaaa</p>
                <p>dddddddddddddssssssssssssssssssaaaaaaaaaaaaaaaa</p>
                {%for stud in homework%}                

                <div id="homework_infos">
                    <form method="post">
                        {% csrf_token %}
                        <div class="homework_info-grade">
                            <div id="lesson_data" class="lesson_data">
                                <p>Lesson:</p>
                                <p class="subject {{stud.id}}" id="subject"  >{{stud.subject}}</p>
                            </div>
                            
                            <div id="homework_data" class="homework_data">
                                <p>homework:</p>
                                <p class="homework {{stud.id}}" >{{j_dz.text}}</p>
                            </div>


                            <div id="note_data" class="note_data">
                                <p>note:</p>
                                <p class="note {{stud.id}}" >{{stud.note}}</p>
                            </div>


                            <div id="homework_data" class="homework_data">
                                <p>student_name:</p>
                                <p class="homework {{stud.id}}" style="cursor: pointer;">{{stud.user.username}}</p>
                            </div>

                            <div id="deadline_data" class="deadline_data">
                                <p style="color: red;">deadline:</p>
                                <p class="deadline {{stud.id}}"  id="deadline_display" style="cursor: pointer;">{{stud.deadline}}</p>
                            </div>
                            <button type="button" onclick="grade_pop_up('{{stud.id}}', '{{stud.user.username}}')">add/change grade</button>
                        </div>
                        <input type="hidden" name="form" value="edit_homework">
                        <input type="hidden" id="subject_hidden_{{stud.id}}" name="subject_hidden" value="{{stud.subject}}">
                        <input type="hidden" id="homework_hidden_{{stud.id}}" name="homework_hidden" value="{{stud.text}}">
                        <input type="hidden" id="deadline_hidden_{{stud.id}}" name="deadline_hidden" value="{{stud.deadline}}">
                        <input type="hidden" id="group_hidden_{{stud.id}}" name="group_hidden" value="{{group.name}}">
                        <input type="hidden" id="homework_id_{{stud.id}}" name="id_hidden" value="{{stud.id}}">
                    </form>


                </div>
                {%endfor%}
            </div>
        </div>


        </div>





      











    <!-- <p id="lesson1">lesson 1</p>
        <button for="lesson1" id="homework_add" name="homework" onclick="event.preventDefault(); homework_pop_up()" class="add-homework-btn"> add homework</button> -->
        <input type="hidden" lessons_i="lessons_home" id="lessons_home" value="lesson.homework">
        


        <div id="students"> 
            <div id="new-student">
        <form method="post">{%csrf_token%}
            <input type="email" name="email" id="email" placeholder="Enter new student's email">
            <input type="hidden" name="group" value="{{group.name}}">
            <input type="submit" value="+" class="add-student-btn">
        </form>
        </div>
        {% if students %}
            <p>Students in this group:</p>
        {% else %}
            <p>No students in this group yet.</p>
        {% endif %}
        {% for student in students %}
            <div id="student">
                <h6>{{ student.user.username }} </h6>
                <button  type="submit" onclick=" grade_pop_up('{{ student.id }}', '{{student.user.username}}')">add grade</button>
                <button type="submit" onclick="behavior_pop_up_('{{ student.id }}', '{{student.user.username}}')">add behavior</button>
            </div>
        {% endfor %}
    </div>
    <div id="popup-container3" class="popup-container">
        <button class="popup-close-btn" onclick="closePopup(3)" style="cursor: pointer;">&times;</button>
        <form method="post" id="pop_up_grade_f" name="pop_up_grade_f">
            {% csrf_token %}
            <h2>add grade</h2>
            <p id="name_grade">grade for: </p>
            <input type="hidden" name="name" id="name_grade_inp" value="">  
            <input type="hidden" name="student" id="student_grade_inp" value="">
            <input type="hidden" name="form" value="add_grade">
            <input type="datetime-local" name="date" id="date">
            <input type="number" id="grade_inp" name="grade" placeholder="grade:" required max="12" min="1" value="1" step="0.5">
            <input type="text" id="subject_inp" name="subject" placeholder="subject_name:" maxlength="30" required>
            <textarea type="text" id="feedback_inp" name="feedback_inp" placeholder="enter feedback for this homework:" maxlength="300" ></textarea>

            <button type="submit">add grade</button>
        </form>
    </div>

    

    {%if schedule%}
    <table id="schedule">
        <caption>Schedule</caption>
        <thead>
            <tr>
                <th>#</th>
                {% for day in days %}
                    <th>{{ day }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for lesson_number in "123456789" %} <tr>
                <th>{{ lesson_number }}</th>
                {% for day in days %}
                    <td>
                        {% for day_, lessons in schedule %}
                            {% if day_ == day %}
                                {% for lesson in lessons %}
                                    {% if lesson.lesson_number == lesson_number %}
                                        <form method="post" id="send_schedule"> {% csrf_token %}
                                            <input type="text"  value="{{ lesson.subject }}" name="subject" placeholder="subject" class="like-p-input">
                                            <input type="hidden" name="form" value="edit_schedule">
                                            <input type="hidden" name="lesson_number" value="{{ lesson.lesson_number }}">
                                            <input type="hidden" name="day" value="{{ day_ }}">
                                            <button type="submit" class="edit-schedule-btn"><img src="/static/images/edit.png" alt="edit" class="img-edit-btn"></button>
                                            
                                        </form>
                                        
                                        
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {%else%}
    <a href="/teacher/schedule/?group={{group.name}}">add schedule</a>
    {%endif%}
    <!-- POP UP ADD HOMEWORK -->
    <div class="popup-container" id ="popup-container1">
        <form method="post" id="pop_up_homework_f" name="pop_up_homework_f">
            <button class="popup-close-btn" onclick="event.preventDefault(); closePopup(1)" style="cursor: pointer;">&times;</button>
            {%csrf_token%}
            <h2>add homework</h2>
            <p>homework for: {{ group.name }}</p>
            <input type="hidden" name="group" value="{{ group.name }}">
            <input type="hidden" name="form" value="add_homework">
            <input type="text" id="homework_inp" name="homework" placeholder="homework:" required>
            <input type="text" id="subject_inp" name="subject" placeholder="subject_name:" maxlength="30" required>
            <input type="datetime-local" id="deadline_homework" name="deadline" placeholder="deadline of homework" required>
            <button type="submit" name="send_homework" id="send_homework" onclick="">add homework</button>
            <i class="fa-regular fa-square-plus" style="align-content: end;"></i>
        </form>
    </div>
    <!-- POP UP HOMEWORK INFO -->
    <div class="popup-container" id="popup-container2">
            <button class="popup-close-btn" onclick="closePopup(2)" style="cursor: pointer;">&times;</button>
            <div class="homework_popup_inf">      
                <h2>homework details</h2>
                <p id="group_homework_popup">group:</p>
                <p id="subject_homework_popup">subject:</p>
                <p id="deadline_homework_popup">deadline to:</p>
                <p id="dz_homework_popup">homework:</p>
            </div>  
    </div>
    <div class="popup-container_b" id="behavior_pop_up" style="display: none;">
        <form method="post" id="behavior_pop_up" name="behavior_pop_up">
            {% csrf_token %}
            <input type="hidden" name="form" value="add_behavior">
            <input type="hidden" name="student_id" id="student_behavior_inp" value="">
            <h3 id="name_behavior"></h3>

            <button class="popup-close-btn-behavior" type="button" onclick="document.getElementById('behavior_pop_up').style.display = 'none'" style="cursor: pointer;">&times;</button>
            <label for="behavior">How did he behave? (true: good; false: badass;)</label>
            <input type="checkbox" name="behavior" id="behavior">
            <textarea name="note" id="note" placeholder="add note" maxlength="300" required></textarea>
            <button type="submit" >add behavior</button>
        </form>
    </div>  

    <!-- POP UP ADD Grade -->
    <!-- <div class="popup-grade">
        <form method="post" id="pop_up_grade" name="pop_up_grade">
            <button class="popup-grade-close-btn" onclick="event.preventDefault(); closePopup()" style="cursor: pointer;">&times;</button>
            {%csrf_token%}
            <h2>add grade</h2>
            <p>grade for: {{ group.name }}</p>
            <input type="hidden" name="group_name" value="{{ group.name }}">
            <input type="hidden" name="grade_inp_hidden" value="addgrade">
            <input type="text" id="homework_inp" name="grade_inp" placeholder="add grade" required>
            <input type="text" id="homework_inp" name="grade_inp" placeholder="add grade" required>

            <button type="submit" name="send_homework" id="send_homework" onclick="">add homework</button>
            <i class="fa-regular fa-square-plus" style="align-content: end;"></i>
        </form>
    </div> -->
</body>
</html>