<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/teacher_home.css">
    {%include '_head.html'%}</head>
<body>
          {% include "_navteacher.html" %}

    <p style="margin-top: 100px;">{{res}}</p>
    {% if permission == "teacher" or permission == "manager"%}
    <div class="form-group" id="groups">
        <h2>Виберіть потрібну вам групу</h2>
        {%for info in teacher_info%}
        <div class="group">
            <form method="post" id="group_form">
                {% csrf_token %}
                <button id="{{info.group}}" name="group_select" onclick=" event.preventDefault(); location.href = '/teacher/group?name={{info.name}}';">{{info.name}}</button>
            </form>    
        </div>
        {%endfor%}
        
    </div>



<script src="static/js/teacher_home.js" defer></script>
    {% else %}
    <p>No permissions</p>
    {% endif %}

</body>
</html>
