<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create_group</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="/static/js/RTS.js"></script>
</head>
<body>
    <h2>Add group</h2>
    <form name="pop_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
<div class="add-group-form">

  <label for="group_name">Email вчителя:</label>
  <select name="teacher_mail" id="teacher_mail" class="teacher_mail" required>

  {%for t in teacher%}
  <option value={{t.email}}>{{t.email}}</option>
  {%endfor%}
  </select>

  <br><br>

  <label for="group_name">Ім'я групи:</label>
 
  <input type="text" id="group_name" name="group_name" maxlength="99"  required><br>
  
  <label for="course">Курс:</label>
  <select name="course" id="course" class="course" required>
    <option value=farm>Python</option>
    <option value=farm>Front End</option>
    <option value=farm>Html & Css</option>
    <option value=farm>C#</option>
  </select>

  <p style="color:red;">потрібно заповнити всю інформацію</p>
  <button name="Create_group" type="submit" class="action-btn view-btn">create group</button>
  <h5 style="color:red;">{{res}}</h5>

</div>
</form>
</body>
</html>



